.header {
    background: #4949b9;
    min-height: 45px;
    height: 5%;
    &Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            color: #fff;
        }
        .loginLink{
            color: #fff;
            
        }
    }
}
