.loginContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.loginForm {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    h1 {
        text-align: center;
    }
    input[type="email"],
    input[type="password"] {
        outline: none;
        text-align: center;
        padding: 10px 0;
        margin: 5px 0;
        min-width: 280px;
    }
    .btnContain {
        text-align: center;
        button {
            background: #4949b9;
            padding: 1rem 5rem;
            border-radius: 10px;
            margin-top: 10px;
            color: #fff;
            font-size: 18px;
        }
    }
}
